// .app__about {
//     flex: 1;
//     width: 100%;
//     flex-direction: column;
// }

// .app__profiles {
//     display: flex;
//     justify-content: center;
//     align-items: flex-start;

//     flex-wrap: wrap;
//     margin-top: 2rem;
// }

// .app__profile-item {
//     width: 300px;
//     display: flex;
//     justify-content: flex-start;
//     align-items: flex-start;
//     flex-direction: column;
//     margin: 2rem;

//     img {
//         width: 100%;
//         height: 270px;
//         border-radius: 15px;
//         object-fit: cover;
//     }

//     @media screen and (min-width: 2000px) {
//         width: 370px;
//         margin: 2rem 4rem;

//         img {
//             height: 320px;
//         }
//     }
// }

// .head-text{
//     font-size: 2rem;
//     margin-top: 2rem;
//     text-align: center;
// }

// .bold-text{
//     text-align: center;
// }

// .about{
//   height: 100vh;
// }

// .about{
//     position: relative;
//       background: url("../../images/bgIMG8.jpg");
//       background-size: cover;
//       background-position: center;
//       background-repeat: no-repeat;
//       top: 0;
//       left: 0;
//       right: 0;
// }

.about{
  background-image: url(../../images/IMGYellow.png);
  
  // background: linear-gradient(white, rgba(22, 154, 241, 0.5) , white);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  padding: 2.6rem 0;
  
}

.about__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 1.5rem;
}


.about__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--heading-color);
  text-align: center;
  padding: 1rem 0 0 0;
}

.name__heading {
  margin: 0.5rem 0 1.5rem 0;
  color: rgb(4, 26, 88);
}

.paragraph__one {
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.paragraph__two {
  margin: 0.5rem 0 1rem 0;
  line-height: 1.6;
}

.CV__details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    align-items: flex-start;
  }
}

  .contact__link {
    margin: 1rem 0;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--secondary-color);
    
    
      animation: identifier;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    
      @keyframes identifier {
        50%{
          transform: scale(1.1);
        }
        100%{
          transform: scale(1);
        }
      }
    
    }
  
  .btn__download {
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    outline: 0;
    padding: 1rem 3rem;
    color: rgb(248, 248, 248);
    margin-top: 1rem;
    transition: all 0.3s;
    white-space: nowrap;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    
    

    &:hover {
      box-shadow: 0 2px 15px 3px rgb(120, 169, 243);
      transform: translateY(-5px);
      background-image: linear-gradient(to right, #2575fc 0%, #6a11cb 100%);
    }
  }

.getInTouch{
  text-decoration: none;

  &:visited{
    color: var(--secondary-color);
  }
}

.btn__resume{
  cursor: pointer;
}
