// #home {
//   position: relative;
//   background: url("../../images/bgIMGcloud.png");  
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;  


//   .app__wrapper {
//     padding: 0;

//   .copyright {
//     display: none;
//   }
//   }
// }

.app__header {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;
  padding: 6rem 2rem 0rem;
}

@media screen and (min-width: 2000px) {
  .app__header {
    padding-top: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .app__header {
    flex-direction: column;
  }
}

@media screen and (max-width: 300px) {
  .app__header {
    padding: 6rem 5rem 2rem;
  }
}

.app__header-info {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;

  margin: 0 2rem;

  @media screen and (max-width: 1200px) {
    width: 100%;
    margin-right: 0rem;
  }
}

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  .badge-cmp,
  .tag-cmp {

    padding: 1rem 2rem;
    margin: 0 4rem 0 0;
    background: var(--white-color);
    border-radius: 15px;
    flex-direction: row;
    width: auto;
    box-shadow: 0px 0px 30px var(--primary-color);
    position: relative;
    top: -50px;

    @media screen and (max-width: 768px) {
      position: relative;
      top: 0px;
    }

  }

  .tag-cmp {
    flex-direction: column;
    margin-top: 3rem;
    margin-right: 0.5rem;

    p {
      font-size: 1.2rem;
      width: 100%;
      text-align: center;
      color: var(--typed-text-color);
    }

    @media screen and (max-width: 768px) {
      position: relative;
      top: 85px;
      right: 140px;
      // left: -200px;
      font-size: 1rem;

      p {
        white-space: nowrap;
        font-size: 1rem;
        width: 100%;
        text-align: center;
        color: var(--typed-text-color);
      }
    }
  }

  span {
    font-size: 2.5rem;

    @media screen and (min-width: 768px) {
      font-size: 5rem;
    }


  }

  @media screen and (max-width: 768px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

  }
}

@media screen and (max-width: 768px) {
  // .typed-text{
  //   position: relative;
  //   top: 335px;
  //   right: 1rem;

  // }
  .profile__picture {
    margin-top: 6rem;

    // padding-bottom: 2rem;
  }

}

.name>.head-text {
  color: var(--typed-text-color);
}

.name {
  cursor: default;
}

.typed-text {
  cursor: default;
}

.typed-text>p {
  font-size: 15rem;
}


.app__header-circles {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin-left: 1rem;
  z-index: 3;

  div {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background: var(--white-color);
    box-shadow: 0px 0px 20px rgba(156, 5, 5, 0.1);

    img {
      width: 60%;
      height: 60%;
    }
  }



  div:nth-child(1) {
    width: 100px;
    height: 100px;
  }

  div:nth-child(2) {
    margin: 1.75rem;
    width: 150px;
    height: 150px;
  }

  div:nth-child(3) {
    width: 70px;
    height: 70px;
  }

  @media screen and (min-width: 2000px) {
    div:nth-child(2) {
      width: 200px;
      height: 200px;
    }

    div:nth-child(3) {
      width: 170px;
      height: 170px;
    }

    div:nth-child(1) {
      width: 200px;
      height: 200px;
    }
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

    div {
      margin: 1rem;
    }
  }
}

.app__header-img {
  flex: 1;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: 1;

  img {
    width: 100%;
    object-fit: contain;
    z-index: 1;
  }

  .overlay_circle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 90%;
    border-radius: 100%;
  }

  @media screen and (max-width: 1200px) {
    margin: 2rem 0;
  }
}

.profile__picture {
  width: 50%;
  border-radius: 100%;

  @media screen and (min-width: 1200px) {
    padding-bottom: 1.5rem;
  }
}

.p-text-name {
  margin-top: 100px;
}

#home {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  overflow-x: hidden;
  background: linear-gradient(315deg, rgba(101, 0, 94, 1) 3%, rgba(60, 132, 206, 1) 38%, rgba(48, 238, 226, 1) 68%, rgb(255, 239, 13) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}